.spacer {
  flex: 1 1 auto;
}
:host {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: relative;
}
button {
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}
mat-progress-bar {
  position: absolute;
  bottom: 0px;
}
a{
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
  color: inherit;
  text-decoration: none;
  :hover{
    cursor: pointer;
  }
}