<mat-toolbar>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="menu">
    <mat-icon>menu</mat-icon></button
  ><span>Scheduler</span><span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="minimize"
    (click)="minimize()"
  >
    <mat-icon>minimize</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="maximize"
    (click)="maximize()"
  >
    <mat-icon>maximize</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="close"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
