<mat-sidenav-container autosize>
  <mat-sidenav 
    [ngStyle]="{'width': sideNavWidth }" 
    [opened]="sideNavOpened$ | async" 
    mode="side" 
    mwlResizable 
    [enableGhostResize]="true"    
    (resizeEnd)="handleSideNavResize($event)"
  >
    <div
    class="resize-handle-right"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
    <app-task-list></app-task-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-clock></app-clock>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
