mat-sidenav-container {
  display: flex;
  flex: 1;
}
mat-sidenav-content {
  display: flex;
  flex: 1;
  // height: 100%;
  flex-direction: column;
  // height: 721px;
  // justify-content: flex-end;
  div {
    flex-grow: 1;
    display: flex;
    min-height: 0px;
    overflow: auto;
  }
}
