div {
  background-color: black;
  border: 1px solid lightgray;
  color: white;
  // height: 500px;
  // width: 1000px;
  max-height: inherit;
  font-family: "Lucida Console";
  padding: 2px;
  // overflow: auto;
  // overflow-x: hidden;
  overflow-y: scroll;
  // flex: 1;
  // min-height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

span {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

:host {
  display: flex;
  flex: 1;
  position: relative;
}
