div {
  background-color: black;
  border: 1px solid lightgray;
  color: white;
  // height: 500px;
  // width: 1000px;
  height: 100%;
  max-height: 100%;
  width: 100%;
  font-family: "Lucida Console";
  padding: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
}

span {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

:host {
  height: 100%;
  width: 100%;
  display: block;
}
