<ng-container *ngIf="schedule$ | async; let schedule">
  <ng-container *ngIf="schedule.length; else noTasks">
    <div fxLayout="column" fxLayoutGap="16px" fx>
      <mat-form-field appearance="outline" class="inverse" color="accent">
        <mat-label>filter</mat-label>
        <input matInput (keyup)="onKey($event)">
      </mat-form-field>
      <ng-container *ngFor="let task of schedule">
        <app-task-card [task]="task"></app-task-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noTasks> ...no tasks to display </ng-template>
</ng-container>
