:host {
  display: block;
  padding: 16px 16px 0px 16px;
}

.relative {
  position: relative;
}

div.actions{
  position: absolute;
  bottom: 30px;
  right: 16px;
}


.fill {
  width: 100%;
}

textarea.no-resize {
  resize: none;
}

.cron {
  position: relative;
  .cronstring {
    position: absolute;
    bottom: -15px;
    white-space: nowrap;
  }
}
