:host {
  display: block;
  padding: 16px 16px 0px 16px;
}

.relative {
  position: relative;
}

div.actions{
  position: absolute;
  bottom: 30px;
  right: 16px;
}


.fill {
  width: 100%;
}

textarea.no-resize {
  resize: none;
}

.cron {
  position: relative;
  .cronstring {
    position: absolute;
    bottom: -15px;
    white-space: nowrap;
  }
}

form > div{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: start center;
}

div.actions{
  display:flex;
  gap: 16px;
}

button{
  flex: 0 1 auto;
}

div[fxLayout="column"]{
  display: flex;
  flex-direction: column;
}

div[fxLayout="row"]{
  display: flex;
  flex-direction: row;
}

div[fxLayoutGap="16px"]{
  gap: 16px;
}

div[fxLayoutGap="16px"]{
  gap: 16px;
}