<mat-accordion [displayMode]="'flat'"  hideToggle multi>
    <mat-expansion-panel [expanded]="expanded">
        <mat-expansion-panel-header>
            <mat-panel-title class="flex row space-between ">
                <span>{{taskGroup.name}}</span>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item (click)="_editTask()">
                        <mat-icon>edit</mat-icon>
                        <span>edit</span>
                        </button> -->
                        <button mat-menu-item (click)="_deleteTaskGroup()">
                        <mat-icon>delete</mat-icon>
                        <span>delete</span>
                        </button>
                    </mat-menu>
                    </div>
                
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="taskGroup">
                <ng-container *ngFor="let task of taskGroup.tasks">
                    <ng-container *ngIf="task.type === 'task'">
                        <app-task-card [task]="task"></app-task-card>
                    </ng-container>
                    <ng-container *ngIf="task.type === 'taskGroup'">
                        <app-task-group [taskGroup]="task"></app-task-group>
                    </ng-container>

                </ng-container>
            </div>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
