<mat-card
  fxLayout="row"
  fxLayoutAlign="space-between center"
  [ngClass]="task.status"
>
  <div fxLayout="column">
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
      <span>{{ task.name }}</span>
      <!-- <mat-menu></mat-menu> -->
    </mat-card-title>
    <p>{{ task.command }}</p>
  </div>
  <div fxLayout="row">
    <button mat-mini-fab color="primary" (click)="_deleteTask()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="_startTask()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</mat-card>
