<mat-card
  [ngClass]="task.status"
  (click)="task.status != 'active' ? _startTask() : ''"
>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ task.name }}</span>
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>edit</span>
        </button>
        <button mat-menu-item (click)="_deleteTask()">
          <mat-icon>delete</mat-icon>
          <span>delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-title>
  <mat-card-content>
    <p>{{ task.command }}</p>
  </mat-card-content>
</mat-card>
