mat-card {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  cursor: pointer;
}
.active {
  animation: pulse 2s infinite;
  cursor: default;
}

.failed {
  border-color: red;
}

@keyframes pulse {
  0% {
    border-color: rgba(0, 0, 0, 0);
  }

  50% {
    border-color: aquamarine;
  }

  100% {
    border-color: rgba(0, 0, 0, 0);
  }
}
