.relative {
  position: relative;
}

button[type="submit"] {
  position: absolute;
  bottom: 30px;
  right: 16px;
}

.fill {
  // width: 100%;
  width: 600px;
}

textarea.no-resize {
  resize: none;
}
