:host {
  display: flex;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // position: absolute;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
  position: fixed;
}

app-main {
  flex: 1;
  display: flex;
}
